html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Lato Bold";
  src: url("../../assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "DMSans";
  src: url("../../assets/fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
}

.header__title {
  font-family: "DMSans", sans-serif;
  color: #d04e4e;
  font-size: 3.6rem;
}

.filters__btn, .filters__tag {
  font-family: "Lato Bold", sans-serif;
  color: white;
}
.filters__btn {
  font-size: 1.8rem;
}
.filters__tag {
  font-size: 1.4rem;
}

.recipe__name {
  font-size: 1.8rem;
}
.recipe__time {
  font-family: "Lato Bold", sans-serif;
  font-size: 1.8rem;
}
.recipe__ingredient {
  font-family: "Lato Bold", sans-serif;
  font-size: 1.2rem;
}
.recipe__quantity {
  font-family: "Lato", sans-serif;
}
.recipe__instructions {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.main__wrapper {
  width: 1240px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  width: 50px;
  height: 46px;
}

.searchBar {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}
.searchBar__input {
  width: 100%;
}

.filters__taglist {
  display: flex;
}
.filters__containers {
  display: flex;
}

.searchBar {
  background-color: #e6e6e6;
  height: 70px;
  margin: 2rem 0;
  border-radius: 5px;
}
.searchBar__input {
  background-color: #e6e6e6;
  border: 0;
  border-radius: 5px;
}

.recipe__mainContainer {
  width: 1240px;
  margin: 2rem auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: repeat(3, 1fr);
  gap: 50px;
  justify-items: center;
}
.recipe__picture {
  border-radius: 5px 5px 0 0;
  width: 380px;
  height: 180px;
  background-color: #c6bebe;
}
.recipe__infoBlock {
  padding: 1rem;
  background-color: #e6e6e6;
  border-radius: 0 0 5px 5px;
}
.recipe__legend {
  display: flex;
  padding: 1.5rem 0;
}
.recipe__time {
  margin-left: auto;
}
.recipe__infos {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 2rem;
}

.filters__tag {
  width: fit-content;
  padding: 0.5rem 2rem;
  margin: 2rem 1rem 0 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.filters__btn {
  padding: 10px;
  margin: 2rem 0 0;
  background: none;
  cursor: pointer;
  border: 0;
  width: 170px;
  height: 70px;
  background-color: lightgreen;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filters__btn--ingredients {
  background-color: #3180f6;
}
.filters__btn--device {
  background-color: #68d9a4;
}
.filters__btn--ustensils {
  background-color: #ed6454;
}

.ico__close {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

/*# sourceMappingURL=style.css.map */
