//fonts google
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lato:wght@400;700&family=Roboto&display=swap');


html {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 62.5%;
}

.header {
    &__title {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        color: $primary-color;
        font-size: $font-text*3;
    }
}
.searchBar {
    &__input {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: $font-text*1.5;
        &::placeholder {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: $font-text*1.5;
        }
    }

}
.filters {
    &__listContainer {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: $font-text*1.5;
        color: white;
        &::placeholder {
            font-family: 'Lato Bold', sans-serif;
            font-weight: 700;
            font-size: $font-text*1.5;
            color: white;
        }                
    }
    &__btn, &__tag{
        font-family: 'Lato Bold', sans-serif;
        font-weight: 700;
        color: lighten($color-dark, 100%);
    }
    &__btn {
        font-size: $font-text*1.5;

    }
    &__tag {
       font-size: $font-tag;
    }
    &__message {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: $font-tag;
    }
}

.recipe {
    &__name {
        font-size: $font-text*1.5;
    }
    &__time {
        font-family: 'Lato Bold', sans-serif;
        font-weight: 700;
        font-size: $font-text*1.5;
    }
    &__ingredient {
        font-family: 'Lato Bold', sans-serif;
        font-weight: 700;
        font-size: $font-text;
    }
    &__quantity {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }
    &__instructions {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: $font-text;
    }
}
.tag {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: $font-text*1.5;
    color: white;
    
    &--ingredients:hover, 
    &--ingredients.is-selected {
        color: $filters-1;
    }
    &--device:hover,
    &--device.is-selected {
        color: $filters-2;
    }
    &--ustensils:hover,
    &--ustensils.is-selected {
        color: $filters-3;
    }
}
