//colors
$primary-color: hsla(0,58%,56%,100%); //D04F4F
$secondary-color: hsla(0,7%,76%,100%); //C7BEBE

$color-dark: hsla(0,0%,0%,100%); //000 text & E7E7E7 bgcolor hsla(0 0 90 100%)

$filters-1: hsla(216,92%,58%,100%); //3282F7
$filters-2: hsla(152,60%,63%,100%); //68D9A4
$filters-3: hsla(6,81%,63%,100%); //ED6454

//typo
$font-initial: 1.6rem;
$font-tag: 1.4rem;
$font-text: 1.2rem;