.recipe {
    &__mainContainer {
        width: 1240px;
        margin: 2rem auto;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-columns: repeat(3, 1fr);
        gap: 50px;
        justify-items: center;
    }
    &__picture {
        border-radius: 5px  5px 0 0;
        width: 380px;
        height: 180px;
        background-color: $secondary-color;
    }
    &__infoBlock{
        padding: 1rem;
        background-color: lighten($color-dark, 90%);
        border-radius: 0 0 5px 5px;
    }
    &__legend {
        display: flex;
        padding: 1.5rem 0;
    }
    &__time {
        margin-left: auto;
    }
    &__infos {
        display: -ms-grid;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 2rem;

    }
}