.searchBar {
    max-width: 1240px;
    margin: 0  auto;
    display: flex;
    &__input {
        width: 100%;
    }
}
.filters {
    &__taglist {
        display: flex;
    }
    &__mainContainers {
        display: flex;
        margin: 2rem 0;
    }
    &__container {
        margin-right: 1rem;
        max-width: 670px;
        flex: 0 1 170px;
    }
    &__form {
        display: flex;
        align-items: center;
        height: 70px;
        //min-width: 170px;
        width: 100%;
    }
    &__input {
        width: 100%;
        height: 100%;
        border-radius: 5px 0 0 5px;
    }
    &__inputContainer {
        display: none;
        padding: 2rem 2rem 1rem 1rem;
        border-radius: 5px;
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-color: lighten($color-dark, 40%) $secondary-color;
        scrollbar-width: thin;
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	        border-radius: 0 0 10px 0;
	        background-color: #F5F5F5;
        }
        
        &::-webkit-scrollbar {
            width: 8px;
	        background-color: #F5F5F5;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 0 0 10px 0;
	        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	        background-color: lighten($color-dark, 50%);
        }
        &--ingredients {
            background-color: $filters-1;
        }
        &--device {
            background-color: $filters-2;
        }
        &--ustensils {
            background-color: $filters-3;
        }
    }
    &__inputField {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__listContainer {
        width: 100%;
        padding: 10px;
        background: none;
        cursor: pointer;
        border: 0;
        &:focus-visible {
            outline: 0;
        }
        
        &--ingredients {
            background-color: $filters-1;
        }
        &--device {
            background-color: $filters-2;
        }
        &--ustensils {
            background-color: $filters-3;
        }
    }
}
.is-expanded {
    display: flex;
}
.is-selected {
    background-color: lighten($color-dark, 100%);
    border-radius: 5px;
}
.formExpanded {
    width: 97%;
}
@media screen and (max-width: 1024px) {
    .filters {
        &__taglist {
            justify-content: center;
            flex-wrap: wrap;
        }
        &__mainContainers {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__container {
            flex-shrink: 0;
        }
    }
}

.tags {
    &__taglist {
        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 1fr));
        padding: 1rem;
        padding-left: 2rem;
        gap: 1rem;        
    }
}
.tag {
    max-width: 100%;
    padding: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
        background-color: lighten($color-dark, 100%);
        border-radius: 5px;
        transform: scale(1.1);
    }
}