.searchBar {
    max-width: 1240px;
    margin: 0  auto;
    display: flex;
    &__input {
        width: 100%;
    }
}
.filters {
    &__taglist {
        display: flex;
    }
    &__containers {
        display: flex;
    }
    &__listContainer {
        padding: 10px;
        margin: 2rem 0 0;
        background: none;
        cursor: pointer;
        border: 0;
        width: 170px;
        height: 70px;
        background-color: lightgreen;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--ingredients {
            background-color: $filters-1;
        }
        &--device {
            background-color: $filters-2;
        }
        &--ustensils {
            background-color: $filters-3;
        }
    }
}
@media screen and (max-width: 1024px) {
    .filters {
        &__taglist {
            justify-content: center;
            flex-wrap: wrap;
        }
        &__containers {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}